<header>
  <div class="hero">
    <h1>
      Frontend <br />
      Developer
    </h1>
    <div class="nameDesign">
      <div class="stroke"></div>
      <h2>Daniela&nbsp;Olbrich</h2>
    </div>
  </div>

  <div class="headerBottom">
    <div class="mail">daniela.n.olbrich&#64;web.de</div>
    <div class="scrollArrow">
      <div>
        <svg
          width="54"
          height="95"
          viewBox="0 0 54 95"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 67.1052L27 92.1052L52 67.1052"
            stroke="black"
            stroke-width="4"
          />
          <path d="M27 0V92.1053" stroke="black" stroke-width="4" />
        </svg>
      </div>
      Scroll <br />
      Down
    </div>
  </div>
</header>
