nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
    box-sizing: border-box;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 252, 243, 1);
    z-index: 10;

    img {
        height: 30px;
    }

}