<div class="blackContainer">
  <h3>Say Hi!</h3>

  <div class="contactFormular">
    <h4>Want to diskuss a new project?</h4>
    <p>Say hello! let's discuss your ideas and make it happen</p>

    <div class="inputContainer">
      <input type="text" required placeholder="Your name" />
      <input type="email" name="" id="" required placeholder="Your email" />
      <textarea name="" id="" required placeholder="Your message"></textarea>
      <div class="checkTerms">
        <div class="checkBoxStyle">
          <input type="checkbox" name="Agree Terms" id="" />
        </div>
        I've read the
        <a href="http://">privacy policy</a>
        and agree to the processing of my data as outlined.
      </div>
      <div class="termsRequiredContainer">
        <div class="termsRequired">Please accept the privacy policy.</div>
      </div>
      <button>Send message</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
