footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 252, 243, 1);
  height: 69px;
  font-size: 22px;

  img {
    height: 40px;
    width: auto;
  }

  .iconNoticeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 69px;
    justify-content: space-between;
  }

  .socialIcons {
    display: flex;
    width: 204px;
    justify-content: space-between;
  }

  a {
    font-size: 16px;
    color: rgba(255, 252, 243, 1);
    text-decoration: none;
  }

  a:hover {
    font-weight: 700;
    color: rgba(0, 188, 143, 1);
  }
}
